
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000000;
    padding: 10px;
}

nav {
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 147, 251);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
}

p{
    position: relative;
    left: 10px;
}

main {
    padding: 20px;